@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

/* Add variables here */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #222831;
  font-family: 'Open Sans';
  color: #A7A9BE;
}

h1 {
  font-family: 'Libre Baskerville';
  font-size: 2.5rem;
  color: #FF8906;
  margin-top: -3rem;
  letter-spacing: 2px;
}

.desc {
  font-size: 1.2rem;
  margin-top: -1rem;
}

.inputArea {

}

.inputLabel {
  color: #FF8906;
}

.input {
  width: 7rem;
  background-color: #222831;
  border: 1px solid #A7A9BE;
  padding: 1rem;
  border-radius: 7px;
  color: #fff;
}

select {
  margin-left: .5rem;
  border: 1px solid #A7A9BE;
  padding: 1rem;
  border-radius: 7px;
  color: #fff;
  background-color: #222831;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.container {
  padding: 5rem 15rem 1rem 15rem;
  box-shadow: 5px 5px 10px rgb(14, 17, 20),
            -5px -5px 10px rgba(194, 194, 194, 0.253);
  border-radius: 15px;
}

a {
  color: #A7A9BE;
}