@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

:root {
  /* Light mode */
  --background-white: ##EBEBEB;
  --text-primary: #5B3000;
  --text-secondary: #5D5E60;

  /* Common colors */
  --color-white: #fff;

  /* Dark mode */
  --background-black: #222831;
  --text-primary: #FF8906;
  --text-secondary: #A7A9BE;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: var(--background-black);
  font-family: 'Open Sans';
  color: var(--text-secondary);
}

h1 {
  font-family: 'Libre Baskerville';
  font-size: 2.5rem;
  color: var(--text-primary);
  margin-top: -3rem;
  letter-spacing: 2px;
}

.desc {
  font-size: 1.2rem;
  margin-top: -1rem;
}

/* .inputArea {

} */

.inputLabel {
  color: var(--text-primary);
}

.input {
  width: 7rem;
  background-color: var(--background-black);
  border: 1px solid var(--text-secondary);
  padding: 1rem;
  border-radius: 7px;
  color: var(--color-white);
}

select {
  margin-left: .5rem;
  border: 1px solid var(--text-secondary);
  padding: 1rem;
  border-radius: 7px;
  color: var(--color-white);
  background-color: var(--background-black);
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.container {
  padding: 5rem 15rem 1rem 15rem;
  box-shadow: 5px 5px 10px rgb(14, 17, 20),
            -5px -5px 10px rgba(194, 194, 194, 0.253);
  border-radius: 15px;
}

a {
  color: var(--text-secondary);
}