@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

:root {
  /* Light mode */
  --background-white: #EBEBEB;
  --text-primary: #5B3000;
  --text-secondary: #5D5E60;

  /* Common colors */
  --color-white: #fff;

  /* Dark mode */
  --background-black: #222831;
  --text-primary: #FF8906;
  --text-secondary: #A7A9BE;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: var(--background-black);
  font-family: 'Open Sans';
  color: var(--text-secondary);
}

h1 {
  font-family: 'Libre Baskerville';
  font-size: 2.5rem;
  color: var(--text-primary);
  margin-top: -3rem;
  letter-spacing: 2px;
}

.desc {
  font-size: 1.2rem;
  margin-top: -1rem;
}

.emojie-switcher {
  font-size: 1.5rem;
}

.inputLabel {
  text-align: left;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.input {
  width: 7rem;
  background-color: var(--background-black);
  border: 1px solid var(--text-secondary);
  padding: 1rem;
  border-radius: 7px;
  color: var(--color-white);
  text-align: center;
}

select {
  margin-left: .5rem;
  border: 1px solid var(--text-secondary);
  padding: 1rem;
  border-radius: 7px;
  color: var(--color-white);
  background-color: var(--background-black);
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 5rem 15rem 1rem 15rem;
  box-shadow: 5px 5px 10px rgb(14, 17, 20),
            -5px -5px 10px rgba(194, 194, 194, 0.253);
  border-radius: 15px;
}

a {
  color: var(--text-secondary);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
   body {
     text-align: center;
     overflow-x: hidden;
   }

  .container {
    margin: 0 auto;
  }

  h1 {
    font-size: 1.3rem;
    width: max-content;
  }

  .desc {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.8rem;
  }

  .emojie-switcher {
    display: none;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
  }

  .inputLabel {
    text-align: center;
  }

  .equals {
    margin: .5rem 0 .5rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 50%;
    height: 50%;
    margin-left: 1rem;
  }
}